@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1.6px solid black;
    padding: 10px;
}

th {
    background-color: gray;
    color: white;
}

th.area{
    background-color: white;
    color: black;
}

tr.soma {
    background-color: gray;
    color: white;
    text-align: left;
    font-weight: bold;
}

td.num {
    text-align: center;
}